.odds {
    font-family: verdana;
    background-color: rgb(255, 167, 167)
}

#number-2 {
    color: blue;
    font-size: 36px;
}

#number-3 {
    
    font-size: 24px;
}

#number-4 {
    background-color: ;
    font-size: 24px;
    font-weight: bold;
}
